/* line 1, src/sass/base/_typography.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #3a3b3c; }

/* line 10, src/sass/base/_typography.scss */
.heading-primary {
  color: #000;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif; }

/* line 15, src/sass/base/_typography.scss */
.heading-secondary {
  color: #000;
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

/* line 1, src/sass/components/buttons/_enableAccessibility.scss */
.form-check {
  display: flex; }

/* line 1, src/sass/components/layout/_circletext.scss */
.circular {
  display: flex; }
  /* line 3, src/sass/components/layout/_circletext.scss */
  .circular path {
    fill: none; }
  /* line 6, src/sass/components/layout/_circletext.scss */
  .circular svg {
    display: block;
    overflow: visible;
    stroke: black; }
  /* line 12, src/sass/components/layout/_circletext.scss */
  .circular-top--large {
    margin: 200px 0 -200px; }
  /* line 15, src/sass/components/layout/_circletext.scss */
  .circular-top--medium {
    margin: 80px 0 -80px; }
  /* line 18, src/sass/components/layout/_circletext.scss */
  .circular-top--small {
    margin: calc(100px / 1.8) 0 calc(100px / -2); }
  /* line 23, src/sass/components/layout/_circletext.scss */
  .circular-bottom--large {
    margin: calc(200px / -2) 0; }
  /* line 26, src/sass/components/layout/_circletext.scss */
  .circular-bottom--medium {
    margin: calc(160px / -2) 0; }
  /* line 29, src/sass/components/layout/_circletext.scss */
  .circular-bottom--small {
    margin: calc(100px / -2) 0 calc(100px / -1.8); }
  /* line 34, src/sass/components/layout/_circletext.scss */
  .circular [class$='--large'] {
    width: 200px;
    height: 200px; }
    /* line 37, src/sass/components/layout/_circletext.scss */
    .circular [class$='--large'] .heading-primary {
      font-size: 1.5rem; }
  /* line 42, src/sass/components/layout/_circletext.scss */
  .circular [class$='--medium'] {
    width: 160px;
    height: 160px; }
    /* line 45, src/sass/components/layout/_circletext.scss */
    .circular [class$='--medium'] .heading-primary {
      font-size: 1.5rem; }
  /* line 49, src/sass/components/layout/_circletext.scss */
  .circular [class$='--small'] {
    width: 100px;
    height: 100px; }
    /* line 52, src/sass/components/layout/_circletext.scss */
    .circular [class$='--small'] .heading-primary {
      font-size: 1.4rem; }
