// COLORS

$color-primary-dark: #000;
$color-secondary-dark: #3a3b3c;
$color-primary-bright: #EFB3C2;
$color-primary-light: #fff;


// FONTS

$font-sansserif: 'Lato', sans-serif;
$font-serif: 'Libre Baskerville', serif;


// CIRCLE SIZE

$text-circle-small: 100px;
$text-circle-medium: 160px;
$text-circle-large: 200px;

// BOOTSTRAP
