// COLORS

$color-primary-dark: #000;
$color-secondary-dark: #3a3b3c;
$color-primary-bright: #EFB3C2;
$color-primary-light: #fff;

$font-sansserif: 'Lato', sans-serif;
$font-serif: 'Libre Baskerville', serif;