.circular {
  display: flex;
  path {
    fill: none;
  }
  svg {
    display: block;
    overflow: visible;
    stroke: black;
  }
  &-top {
    &--large {
      margin: 200px 0 -200px;
    }
    &--medium {
      margin: 80px 0 -80px;
    }
    &--small {
      margin: calc(#{$text-circle-small} / 1.8) 0 calc(#{$text-circle-small} / -2);
    }
  }
  &-bottom {
    &--large {
      margin: calc(#{$text-circle-large} / -2) 0;
    }
    &--medium {
      margin: calc(#{$text-circle-medium} / -2) 0;
    }
    &--small {
      margin: calc(#{$text-circle-small} / -2) 0 calc(#{$text-circle-small} / -1.8);
    }
  }

  &-full {
    &--large {
      margin: calc(#{$text-circle-large} * .75 ) auto calc(#{$text-circle-large} / -4);
    }
    &--medium {
      margin: calc(#{$text-circle-medium} / -2) 0;
    }
    &--small {
      margin: calc(#{$text-circle-small} / -2) 0 calc(#{$text-circle-small} / -1.8);
    }
  }
  
  [class$='--large'] {
    width: $text-circle-large;
    height: $text-circle-large;
    .heading-primary {
      font-size: 1.5rem;
    }
  }

  [class$='--medium'] {
    width: $text-circle-medium;
    height: $text-circle-medium;
    .heading-primary {
      font-size: 1.5rem;
    }
  }
  [class$='--small'] {
    width: $text-circle-small;
    height: $text-circle-small;
    .heading-primary {
      font-size: 1.4rem;
    }
  }
  &.linkedIn {
    letter-spacing: 5px;
    svg {
      stroke: none;
    }
  }
  &.connect {
    svg{
      stroke: none;
    }
  }
}
